
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <p class="nav-link"><%= link_to "Add your own cocktail", new_cocktail_path  %></p>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a style="font-size: 3em" class="navbar-brand mx-auto" href="#" >Your cocktail of choice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>

<section class="bar" style="background-image: url(<%= image_path "bg.jpg"  %>);">
  <div class="d-flex justify-content-between">
  </div>
</section>

<div class="side_by_side">
  <div>
    <h3 class="show-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "cocktailBG.jpg"  %>)"><%= @cocktail.name %></h3>
    <%= link_to cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"} do %>
      <i class="fas fa-trash-alt">      Delete it</i>
    <% end %>
  </div>

    <div class="ingredients">
      <h3>Make it</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <p><%= dose.ingredient.name %></p>
          </li>
          <li>
            <p><%= dose.description %></p>
          </li>


        <% end %>
      </ul>
    </div>
</div>



  <p><%= link_to "Think you can improve this recipe?", new_cocktail_dose_path(@cocktail) %></p>





  <p><%= link_to "Back to cocktail menu", cocktails_path %></p>







