
<h1>Is this the cocktail of choice, Raj?</h1>

  <h3><%= @cocktail.name %></h3>
  <%= link_to cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"} do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>

  <h3><%= link_to "Make changes to this cocktail", new_cocktail_dose_path(@cocktail) %></h3>

  <h3><%= link_to "Go back to your cocktails", cocktails_path %></h3>
 <h1>List of ingredients!</h1>

    <div class="ingredients">
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li>
            <p><%= dose.ingredient.name %></p>
          </li>
          <li>
            <p><%= dose.description %></p>
          </li>


        <% end %>
      </ul>
    </div>






