<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>


<!-- remember that for this form to work, it needs to work with the new dose method which is in the  -->
<!-- doses controller and that method has two variables, the @cocktails and @dose.  so cutting and pasting
this into the show view won't work.   -->

<%= simple_form_for([@cocktail, @dose]) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.association :ingredient %>
  <%= f.input :description %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
